[submodule "libraries/NopSCADlib"]
	path = libraries/NopSCADlib
	url = git@github.com:nophead/NopSCADlib.git
[submodule "libraries/MCAD"]
	path = libraries/MCAD
	url = git@github.com:openscad/MCAD.git
